APP_ENV=dev
DEBUG=1

MONGODB_URI=mongodb://root:example@mongo:27017/miappdb?authSource=admin

GEMINI_API_KEY=
OPENROUTER_API_KEY=
OPENAI_API_KEY=
# Secret key for signing JWT session tokens (e.g. openssl rand -hex 32)
JWT_SECRET=
